---
import type { Props } from '@astrojs/starlight/props';

import {
  LanguageSelect,
  Search,
  SiteTitle,
  SocialIcons,
  ThemeSelect,
} from 'virtual:starlight/components';
---

<div class="flex justify-between items-center align-middle content-center">
  <div class="sl-flex w-[1.5rem]">
    <SiteTitle {...Astro.props} />
  </div>
  <div class="sl-flex">
    <Search {...Astro.props} />
  </div>
  <div class="sl-hidden md:sl-flex right-group">
    <div class="sl-flex social-icons">
      <SocialIcons {...Astro.props} />
    </div>
    <ThemeSelect {...Astro.props} />
    <LanguageSelect {...Astro.props} />
  </div>
</div>
