---
import type { Props } from '@astrojs/starlight/props';
import CallToAction from './CallToAction.astro';
const PAGE_TITLE_ID = 'FoxDocs';

const { data } = Astro.props.entry;
const { title = data.title, tagline, image, actions = [] } = data.hero || {};
---

<div class="flex flex-row-reverse flex-wrap p-12">
  <iframe
    class="min-h-[600px] w-1/2"
    src="https://my.spline.design/draganddropfloatingemojiscopy-60c81b77007f8ccab0ec5345fca7aaf6/"
    frameborder="0"
  >
  </iframe>

  <div class="flex flex-col gap-10 w-1/2">
    <div class="flex flex-col gap-5">
      <h1 id={PAGE_TITLE_ID} data-page-title set:html={title} />
      {tagline && <div class="tagline" set:html={tagline} />}
    </div>
    {
      actions.length > 0 && (
        <div class="flex gap-5">
          {actions.map(({ text, ...attrs }) => (
            <CallToAction {...attrs} set:html={text} />
          ))}
        </div>
      )
    }
  </div>
</div>

<style>
  h1 {
    font-size: clamp(var(--sl-text-3xl), calc(0.25rem + 5vw), var(--sl-text-6xl));
    line-height: var(--sl-line-height-headings);
    font-weight: 600;
    color: var(--sl-color-white);
  }

  .tagline {
    font-size: clamp(var(--sl-text-base), calc(0.0625rem + 2vw), var(--sl-text-xl));
    color: var(--sl-color-gray-2);
  }
</style>
