---
import type { Props } from '@astrojs/starlight/props';

// get parent slug
let slug = Astro.props.entry.slug.split('/').slice(0, -1).join('/');
slug = slug.replace(/-/g, ' ').replace(/\w\S*/g, (w) => w.replace(/^\w/, (c) => c.toUpperCase()));
---

<div class="p-2">
  <!-- Sidebar parent label -->
  <span class="text-sm font-semibold" style="color: var(--sl-color-white);">
    {slug} /
  </span>
  <h1 class="mt-0 mb-2" id="_top">{Astro.props.entry.data.title}</h1>
  <p>{Astro.props.entry.data.description}</p>
</div>

<style>
  h1 {
    margin-top: 1rem;
    font-size: var(--sl-text-h1);
    line-height: var(--sl-line-height-headings);
    font-weight: 600;
    color: var(--sl-color-white);
  }
</style>
