/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

/* Dark mode colors. */
:root {

	--sl-text-sm: 0.875rem !important;
	--sl-text-base: 14px;
    --sl-text-h1: 32px;
	--sl-text-h5: var(--sl-text-base);
	--sl-sidebar-width: 20rem;
	--code-block-radius: 15px;

	--white: rgb(255, 255, 255);
	--black: #0a0a0b;
	--bg-color: var(--black);
	--text-color: var(--white);
	--text-muted: rgb(200, 200, 200);
	
	--accent-color: var(--black);
	--accent-alt-color: rgb(40, 40, 40);

	--sl-color-text: var(--text-color); /* Body Text */
	--sl-color-text-accent: var(--white); /* Body Text */
	--sl-color-gray-3: var(--text-muted); /* ToC Text */
	--sl-color-gray-2: var(--text-muted); /* Sidebar Text */

	--sl-color-text-invert: var(--black); /* Invert Text Color (Actives) */
	--sl-color-white: var(--white); /* Headings */
	--sl-color-bg: var(--bg-color); /* Background */
	--sl-color-gray-6: var(--bg-color); /* Sidebar BG */

	--sl-color-black: var(--accent-alt-color); /* Sidebar Borders */
	--sl-color-gray-5: #2f2f2f; /* Borders */
	--sl-color-hairline: var(--accent-alt-color); /* Markdown Inline Borders */
	
	--sl-color-accent-low: var(--white);
	--sl-color-accent: var(--accent-color);
	--sl-color-accent-high: var(--accent-color);

	--sl-color-gray-1: var(--sl-color-white) !important;
	--sl-color-gray-4: var(--accent-color);

	/* Code Blocks */
	--astro-code-color-text: var(--white);
	--astro-code-token-keyword: var(--white);
	--astro-code-color-background: rgb(24 24 27) !important;
	--astro-code-token-punctuation: var(--white);
    --astro-code-token-string: rgb(203 213 225) !important;
    --astro-code-token-function: rgb(244 114 182) !important;
    --astro-code-token-string-expression: rgb(125 211 252) !important;
	--astro-code-token-constant: rgb(255 203 107) !important;

	/* New Code Blocks */
	--theme-code-inline-bg: #ffffff16;
	--theme-code-inline-text: var(--theme-text-light);
	--theme-code-bg: rgb(24 24 27);
	--theme-code-tabs: hsla(261, 40%, 21%, 1);
	--theme-code-text: hsla(var(--color-base-white), 80%, 1);
	--theme-navbar-bg: var(--theme-bg);
	--theme-selection-color: hsla(var(--color-base-white), 100%, 1);
	--theme-code-mark-bg: hsl(224, 60%, 25%);
	--theme-code-mark-border: hsl(225, 42%, 46%);
	--theme-code-ins-bg: hsl(122, 29%, 17%);
	--theme-code-ins-border: hsl(128, 41%, 32%);
	--theme-code-ins-text: hsl(128, 31%, 55%);
	--theme-code-del-bg: hsl(337, 47%, 19%);
	--theme-code-del-border: hsl(340, 34%, 43%);
	--theme-code-del-text: hsl(340, 24%, 65%);
}
/* Light mode colors. */
:root[data-theme='light'] {
	--white: rgb(255, 255, 255);
	--black: #0a0a0b;
	--bg-color: var(--white);
	--text-color: var(--black);
	--text-muted: var(--black);
	
	--accent-color: var(--black);
	--accent-alt-color: rgb(230, 230, 230);

	--sl-color-white: var(--black); /* Headings */
	--sl-color-text: var(--text-color); /* Body Text */
	--sl-color-gray-3: var(--text-muted); /* ToC Text */
	--sl-color-gray-2: var(--text-muted); /* Sidebar Text */

	--sl-color-gray-7: var(--white); /* Sidebar BG */
	--sl-color-text-invert: var(--white); /* Invert Text Color (Actives) */

	--sl-color-bg: var(--bg-color); /* Background */
	--sl-color-gray-6: var(--accent-alt-color); /* Sidebar Borders */

	--sl-color-black: var(--accent-alt-color); /* Sidebar Borders */
	--sl-color-gray-5: var(--accent-alt-color); /* Borders */
	--sl-color-hairline:var(--accent-alt-color); /* Markdown Inline Borders */
	
	--sl-color-accent-low: var(--white);
	--sl-color-accent: var(--accent-color);
	--sl-color-accent-high: var(--accent-color);

	--sl-color-gray-1: var(--sl-color-white) !important;
	--sl-color-gray-4: var(--accent-color);

	/* Code Blocks */
	--astro-code-color-text: var(--white);
	--astro-code-token-keyword: var(--white);
	--astro-code-token-punctuation: var(--white);
    --astro-code-token-string: rgb(203 213 225) !important;
 	--astro-code-token-comment: rgb(180, 180, 180) !important;
    --astro-code-token-function: rgb(244 114 182) !important;
    --astro-code-token-string-expression: rgb(125 211 252) !important;
	--astro-code-token-constant: rgb(255 203 107) !important;

	/* New Code Blocks */
	--theme-code-inline-bg: #ffffff16;
	--theme-code-inline-text: var(--theme-text-light);
	--theme-code-bg: rgb(24 24 27);
	--theme-code-tabs: hsla(261, 40%, 21%, 1);
	--theme-code-text: hsla(var(--color-base-white), 80%, 1);
	--theme-navbar-bg: var(--theme-bg);
	--theme-selection-color: hsla(var(--color-base-white), 100%, 1);
	--theme-code-mark-bg: hsl(224, 60%, 25%);
	--theme-code-mark-border: hsl(225, 42%, 46%);
	--theme-code-ins-bg: hsl(122, 29%, 17%);
	--theme-code-ins-border: hsl(128, 41%, 32%);
	--theme-code-ins-text: hsl(128, 31%, 55%);
	--theme-code-del-bg: hsl(337, 47%, 19%);
	--theme-code-del-border: hsl(340, 34%, 43%);
	--theme-code-del-text: hsl(340, 24%, 65%);
}

.frame {
	box-shadow: none !important;
}

.expressive-code .frame .header {
	border-top-left-radius: var(--code-block-radius) !important;
	border-top-right-radius: var(--code-block-radius) !important;
}

.expressive-code .frame .header .title {
	border-top-left-radius: var(--code-block-radius) !important;
	border-top-right-radius: var(--code-block-radius) !important;
}

/* Border on non-defined file code blocks */
.expressive-code .frame:not(:has(figcaption span)) pre{
	border-top-left-radius: var(--code-block-radius) !important;
	border-top-right-radius: var(--code-block-radius) !important;
}

.expressive-code .frame pre{
	border-bottom-left-radius: var(--code-block-radius) !important;
	border-bottom-right-radius: var(--code-block-radius) !important;
}

.copy button{
	border-radius: 5px !important;
}

header.header {
	background-color: var(--bg-color) !important;
}

.content-panel button {
	background-color: var(--sl-color-text-accent) !important;
	padding-left: 15px;
	padding-right: 15px;
}

.content-panel button span{
	color: var(--sl-color-text-invert) !important;
}

.content-panel button a{
	color: var(--sl-color-text-invert) !important;
	text-decoration: none;
}


/* Center Markdown Content */
.main-pane .sl-container {
	margin-left: auto;
	margin-right: auto;
}

.right-sidebar{
	border-left: 1px solid var(--sl-color-hairline);
}

#starlight__sidebar {
    background-color: var(--sl-color-bg-nav) !important;
}

.sidebar-content a:not([aria-current="page"]):hover {
	background-color: var(--sl-color-gray-6) !important;
}

.site-title{
	font-weight: bold;
}

.content-panel a{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 6px;
	min-width: max-content;
}
.content-panel a:hover{
	text-decoration: none;
}

.content-panel li{
	align-items: center;
	gap: 8px;
}

.content-panel img{
	border-radius: 10px;
	border: 1px solid var(--sl-color-hairline);
}

li details ul summary span{
	font-size: 15px !important;
}

li details ul ul details summary span{
	font-size: 14px !important;
}

.astro-code{
	border-radius: 10px;
	font-size: 14px !important;
}

starlight-toc span{
	font-size: 0.875rem !important;
}

a[aria-current="page"] .sl-badge {
	outline: none;
}

.right-sidebar-container, .sidebar-pane {
	width: var(--sl-sidebar-width);
}

.main-pane{
	width: 100% !important;
	margin-left: auto;
	margin-right: auto;
}

.main-pane .content-panel:first-child .sl-container{
	color: var(--text-muted) !important;
}

.content-panel h1{
	font-weight: bolder;
}

.content-panel h2{
	font-weight: bold;
}