/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

*:not(p) {
    transition: all 0.05s ease !important;
}

/* Dark mode colors. */
:root {
	--sl-text-sm: 0.875rem !important;
	--sl-text-base: 15px;
    --sl-text-h1: 32px;

	--sl-color-accent-low: rgb(255, 255, 255);
	--sl-color-accent: #2d3fe2;
	--sl-color-accent-high: #ffffff !important;

	--sl-color-bg: rgb(15, 23, 42); /* Background | Markdown & ToC */
	--sl-color-gray-6: var(--sl-color-bg); /* Sidebar BG */

	--sl-color-gray-5: rgb(56, 66, 85); /* Borders */
	--sl-color-black: rgb(30 41 59); /* Sidebar Borders */
	--sl-color-hairline: rgb(70, 81, 103); /* Markdown Inline Borders */

	--text-base-color: #c6d9f3;

	--sl-color-white: rgb(226 232 240); /* Headings */
	--sl-color-text-invert: rgb(15, 23, 42) !important; /* Body Text */

	--sl-color-text: var(--text-base-color) !important; /* Body Text */
	--sl-color-gray-3: var(--text-base-color) !important; /* ToC Text */
	--sl-color-gray-2: var(--text-base-color) !important; /* Sidebar Text */
	--sl-color-gray-1: var(--sl-color-white) !important;
	--sl-color-gray-4: #545861;

	--sl-code-bg: var(--sl-color-black); /* Code Blocks */

	/* Code Blocks */
	--astro-code-color-text: var(--sl-color-white);
    --astro-code-color-background: var(--sl-color-gray-6);
    --astro-code-token-constant: var(--sl-color-blue-high);
    --astro-code-token-string: rgb(203 213 225) !important;
    --astro-code-token-comment: var(--sl-color-gray-2);
    --astro-code-token-keyword: var(--sl-color-purple-high);
    --astro-code-token-parameter: var(--sl-color-red-high);
    --astro-code-token-function: rgb(244 114 182) !important;
    --astro-code-token-string-expression: rgb(125 211 252) !important;
    --astro-code-token-punctuation: var(--sl-color-gray-2);
    --astro-code-token-link: var(--sl-color-blue-high);
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: rgb(255, 255, 255);
	--sl-color-accent: rgb(20, 33, 47);
	--sl-color-accent-high: #ffffff !important;

	--sl-color-bg: rgb(255, 255, 255); /* Background | Markdown & ToC */
	--sl-color-gray-6: rgb(20, 33, 47); /* Sidebar BG */

	--sl-color-gray-5: rgb(20, 33, 47); /* Borders */
	--sl-color-black: var(--sl-color-gray-5); /* Sidebar Borders */
	--sl-color-hairline:  var(--sl-color-gray-5); /* Markdown Inline Borders */

	--text-base-color: #000000;
	--sl-color-white: rgb(0, 0, 0); /* Headings */
	--sl-color-text-invert: rgb(255, 255, 255) !important; /* Body Text */

	--sl-color-text: var(--text-base-color) !important; /* Body Text */
	--sl-color-gray-3: var(--text-base-color) !important; /* ToC Text */
	--sl-color-gray-2: var(--text-base-color) !important; /* Sidebar Text */
	--sl-color-gray-1: var(--sl-color-white) !important;
	--sl-color-gray-4: #545861;

	--sl-code-bg: var(--sl-color-black); /* Code Blocks */

	/* Code Blocks */
	--astro-code-color-text: var(--sl-color-white);
    --astro-code-color-background: var(--sl-color-gray-6);
    --astro-code-token-constant: var(--sl-color-blue-high);
    --astro-code-token-string: rgb(203 213 225) !important;
    --astro-code-token-comment: var(--sl-color-gray-2);
    --astro-code-token-keyword: var(--sl-color-purple-high);
    --astro-code-token-parameter: var(--sl-color-red-high);
    --astro-code-token-function: rgb(244 114 182) !important;
    --astro-code-token-string-expression: rgb(125 211 252) !important;
    --astro-code-token-punctuation: var(--sl-color-gray-2);
    --astro-code-token-link: var(--sl-color-blue-high);
}

#starlight__sidebar {
    background-color: var(--sl-color-bg-nav) !important;
}

.sidebar-content a:not([aria-current="page"]):hover {
	background-color: var(--sl-color-gray-6) !important;
}

a {
    text-decoration: none !important;
}

.content-panel a{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
}

.content-panel li{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.content-panel img{
	border-radius: 10px;
	border: 1px solid var(--sl-color-hairline);
}

li details ul summary span{
	font-size: 15px !important;
}

li details ul ul details summary span{
	font-size: 14px !important;
}

.astro-code{
	background-color: var(--sl-code-bg) !important;
	border-radius: 10px;
	font-size: 14px !important;
}